.loginForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loginForm input {
  padding: 10px;
  border-radius: 5px;
  width: 300px;
}

.password {
  position: relative;
}

.password input {
  padding-right: 40px;
}

.eyeBtn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.submitBtn {
  transition: all .1s linear;
  margin-top: 10px;
}

.submitBtn:hover {
  color: #fff;
}