.loginForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loginForm input {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}

.passwordInput {
  position: relative;
}
.passwordInput input {
  padding-right: 40px;
}

.eyeBtn {
  line-height: 1;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.eyeBtn svg {
  stroke-width: 1px;
}